<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mi</title>
</head>
<body>
  <h1>Quien soy</h1>
  <hr>
  <h2>Mi nombre es:</h2> 
  <h3>Victor Gracia Alcantara</h3> 
  <p>soy una persona muy tranquila, sencilla, amable y didactico. </p>
  <hr>
  <h4>Qme me gusta</h4>
  <ol>
      <li>La musica</li>
      <li>El anime</li>
      <li>La panaderia</li>
      <li>comer</li>
      <li>leer</li>
      <li>nadar</li>
      <li>Dormir</li>
      <li>los automotores</li>
  </ol>
<hr>
<h5> Aque dedico mi tiempo lible.</h5>

    <div>Nadar</div>
    <img width="200px" src="../assets/img/nadar.jpg" alt="">
   
    <div>Escuchar musica</div>
    <a href="https://www.youtube.com/watch?v=-UAyj5VfoTQ">Algo como esto</a>
    
    <div>ver anime</div>
    <a href="https://www.crunchyroll.com/es/welcome?utm_source=paid_cr&utm_medium=google-search&utm_campaign=conversion&utm_term=crunchyroll&referrer=paid_cr_google-search_conversion&gclid=EAIaIQobChMIqanXxoOe9wIV3xvUAR2plw7AEAAYASAAEgIO7PD_BwE">En esta pagina</a>
   
    <div>andar en moto</div>
    <img width="200px" src="../assets/img/moto.jpg" alt="">
    <hr>

    <h6>Les comparto un poco de uno de mis anime favorito</h6>

    <a href="2-producto.html">
        <img width="200px" src="../assets/img/entradaonepiece.jpg" alt="">
    </a>


    
</body>
</html>