<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>onePiece</title>
    
</head>
<body>

    <h1>Algunas imagines</h1>
    
    <img width="200px" src="../assets/img/onepiece1.jpg" alt="">
    <img width="200px" src="../assets/img/onepiece2.jpg" alt="">
    <img width="200px" src="../assets/img/onepiece3.jpg" alt="">
    <hr>
   
    <h2>Un video</h2>
    
    <a href="https://www.youtube.com/watch?v=HRaoYuRKBaA">Este es un pequeño intor de</a>
    <hr>
   
    <h3>En donde verlo</h3>

    <a href="https://www.crunchyroll.com/es/one-piece">Esta es una muy buena pagina para ver anime</a>
    <hr>

    <h4>Regresa te sigo platicando de mi</h4>

    <a href="1-personal.html">
        <img width="50px" src="../assets/img/flechaRegreso.jpg" alt="">
    </a>

</body>
</html>