<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Etiquetas en bloque -->
    <h1> Titulo </h1>
    <p>Hola</p>
    <hr>

    <!-- Etiquetas en linea-->
    <span class="saludo" id="saludoInicial">Hola</span>
    <img src="assets/img/descarga.jpg" alt="">

    <a href="https://www.youtube.com/watch?v=-UAyj5VfoTQ">YouTube</a>

    <a href="../index.html">Index</a> 

    <!-- listas ordenadas -->
    <ol>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ol>

    <!-- Listas no ordenadas -->
    <ul>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ul>

    <!-- css en el documento -->
    <style>
        body {
            background-color: aqua;
        }
    </style>
    
    <!-- enlazar archivo css -->
    <link rel="stylesheet" href="assets/css/styles.css">
    
    <!-- js en el documento -->
    <script>
        alert("Hola mundo!")
        </script>

    <!-- Enlazar un archivo js -->
    <script src="assets/js/main.js"></script>



</body>
</html>