h1{
    text-align: center;
}
.formulario{
    border: 5px solid blueviolet;
    padding: 10px;
    background-color: rgb(207, 180, 232);
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

.colorFondo{
    background-color: rgba(250, 129, 234);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

