




.forma{

    height: 100px;
    width: 300px;
}

.borde{
    border: 3px solid black;
    /*
    border-top: 3px solid green;
    border-right: 3px solid red;
    border-bottom: 3px solid black;
    border-left: 3px solid blue;
    */
    text-align: center; /*centra a lo ancho*/
    line-height: 100px; /*centra a lo alto*/
}

.forma2{
    height: 100px;
    width: 300px;
}

.borde2{
    border: 3px solid black;
    /*
    border-top: 3px solid green;
    border-right: 3px solid red;
    border-bottom: 3px solid black;
    border-left: 3px solid blue;
    */
    text-align: center; /*centra a lo ancho*/
    line-height: 100px; /*centra a lo alto*/
}

.forma3{
    height: auto;
    width: auto;
}

.borde3{
    
    border-left: 3px solid rgb(235, 21, 153);
    
}

.forma4{
    height: auto;
    width: auto;
}

.borde4{
    
    border-top: 3px solid palevioletred;
    border-bottom: 3px solid palevioletred;
        
}