*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

/*body{
    position: static;
}*/

.cuadro{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    /*display: inline-block;*/
}
/*
bottom = Sube
top = Baja
left = Derecha
right =Izquierda
*/

h1{
    /*position: relative;*/
    /*top: 100px;*/
    /*bottom: -20px;*/  
    /*z-index: -1;*/
}

.div1{
    background-color: aqua;
    /*position: static;
    bottom: 100px;*/
}

.div2{
    background-color: blueviolet;
    position: sticky;
    top: 0;    
}

.div3{
    background-color: tomato;
}

.padre{
    width: 500px;
    height: 400px;
    position: relative;
}